<div class="app">
  <div>
    <search-field @query={{state.query}} />
  </div>
  <hr/>
  <ul>
    {{#each state.results key="@index" as |result|}}
      <li>
        <generic-result @result={{result}} />
      </li>
    {{/each}}
  </ul>
</div>
