html, body {
  height: 100%;
}

body {
  font-family: sans;
  padding: 0;
  margin: 0;
  background-color: #00AEF0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;

  li {
    margin: 0;
  }
}

.app {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @import 'search-field';

  .top {
    height: 200px;
  }
}

.logo {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  padding: 3px;
}

.result {
  overflow: hidden;
  display: block;
  clear: both;
  background-color: white;
  padding: 10px;
  margin: 10px 0px;
  color: #1A1A25;
  text-decoration: none;

  &.selected {
    background-color: black;
    color: white;

    .url {
      color: white;
    }
  }

  img {
    float: left;
    margin-right: 4px;
  }

  p {
    margin: 0;
  }

  .url {
    color: #2B5993;
    color: #0078CA;
  }
}
