html, body {
  height: 100%;
}

body {
  font-family: sans;
  padding: 0;
  margin: 0;
  background-color: #00AEF0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;

  li {
    margin: 0;
  }
}

.app {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @import 'search-field';
  @import 'generic-result';

  .top {
    height: 200px
  }
}

.logo {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  padding: 3px;
}
